#map1,
#map2,
#map3 {
    height: 100%;
}

.row-map {
    margin-top: 1vh !important;
    min-height: 80vh;
}

.col-map {
    padding: 30px;
    background-color: #E4C59E;
    border-radius: 10vh;
    border: #40534C, solid, 5px;
}

.form-map {
    width: 70vh !important;
    justify-content: center;
    margin-left: 6vh;
}

#address-list1,
#address-list2,
#address-list3 {
    margin: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}

#address-list1 p,
#address-list2 p,
#address-list3 p {
    margin: 5px 0;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-dois {
    background-color: #4F6F52;
}

.nav .nav-link {
    color: #FFF7D1;
}

.nav .nav-link.active {
    color: #FFF7D1 !important;
    background-color: #1A3636 !important;
    border-color: #4F6F52 !important;
}

.nav .nav-link:hover {
    color: #FEFF9F !important;
    background-color: #322C2B;
    box-shadow: 0 0 5px #FFD09B !important;
    border-color: #4F6F52 !important;
}

.h2-ecoponto{
    background-color:#4F6F52;
    color:#E4C59E;
    padding: 5vh;
    margin-top: 5vh;
    border-width: 2vh;
    border-color: #E4C59E;
    border-style:solid;
    border-radius: 50px;
}

.p-ecoponto{
        font-family: "Quicksand", Arial;
        font-size: x-large;
        font-weight: 500;
        color: #132929 !important;
        text-align: left;
}

.destaque{
    font-family: "Quicksand", Arial;
    font-size: x-large;
    font-weight: 700;
    color:#FEFF9F !important;
    background-color: #132929;
}

.semi-destaque{
    font-family: "Quicksand", Arial;
    font-size: x-large;
    font-weight: 700;
    color:#322C2B !important;
    background-color:#FEFF9F;
}

.separar{
    margin-top: 40px;
    margin-bottom: 10px;
}

.pergunta{
    font-family: "Quicksand", Arial;
    font-size: xx-large;
    font-weight: 700;
    color:#FEFF9F !important;
    background-color: #132929;
}

.carrosel {
    height: 70vh !important;
    background-color: #FFECC8 !important;
    border:#E4C59E, solid, 2vh;
    
}

.custom-flex-center {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 20%;
    position: absolute;
    width: 40%;
    top: 30px;
    left: 22px
}

.carrosel-h1 {
    font-family: "Quicksand", Arial;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
    color:#E4C59E !important;
    margin-top: 0.1%;
    border-radius: 10px;
    border-width: 1.8vh;
    border: #E4C59E;
    border-style:solid;
    background-color: #4F6F52;
}

.custom-flex-left {
    display: flex;
    justify-content: right !important;
    align-items: right !important;
    height: 20%;
}

.carrosel-img {
    width: 100%;
    height: 100%;

    
}

.custom-flex-bottom {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 10%;
    position: absolute;
    top: 60px !important;
    left: 22px
}

.carrosel-p {
    font-family: "Quicksand", Arial;
    font-optical-sizing: auto;
    margin-top: 5px;
    font-size: x-large;
    /*font-weight: 500 !important;*/
    font-style: normal;
    color:#E4C59E !important;
    margin-bottom: 50px;
    width: 180%;
    border: #E4C59E;
    background-color: #4F6F52;
    border-radius: 10px;
    border-style: solid;
    border-width: 1vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border: #AF8260, solid, 2px;
    background-color: #1a3636;
}

.row-carosel {
    margin-top: 3vh !important;
    padding: 20px;
}

.coluna {
    margin-top: 28px;
    margin-right: 50px;
    margin-left: 50px;
}

.row-card {
    flex: 1;
    margin-top: 10vh;
    margin-left: 150vh;
}

.col-card {
    margin-left: 3vh;
    margin-top: 2vh;
}

.card-image {
    height: 150px;
}

.img-pages {
    height: 50vh;
    width: 50vh;
}

.row-pages-top {
    margin-top: 3vh !important;
    background-color: #E4C59E;
    border-radius: 10vh;
    border: #40534C, solid, 5px;
}

.row-pages-bottom {
    margin-top: 1vh !important;
}

.conteudo-conteinar {
    max-width: 180vh !important;
}

.col-pages-top {
    margin-top: 3vh !important;
    padding: 3vh !important;
}

.p-pages {
    font-family: "Quicksand", Arial;
    font-size: x-large;
    font-weight: 500;
    color: #132929 !important;
}

.col-bottom {
    background-color: #E4C59E;
    border-radius: 10vh;
    border: #40534C, solid, 5px;
    padding: 2%;
}

.h5-exemplo {
    font-family: "Quicksand", Arial;
    color: #803D3B;
    font-weight: 700;
    margin-left: 5vh;
    font-size: xx-large;
}

.p-pages-top {
    font-size: x-large;
    font-family: "Quicksand", Arial;
    font-weight: 700;
    color: #1A3636;
}

.lista {
    margin-top: 5vh;
}

.itens {
    text-align: left !important;
    font-family: "Quicksand", Arial !important;
    margin-bottom: 3vh;
}

.card-roupa {
    margin-left: 10vh;
}

ol {
    list-style-type: none;
    counter-reset: list-counter;
}

ol li {
    counter-increment: list-counter;
    font-family: Arial, sans-serif;
}

ol li::before {
    content: counter(list-counter) ". ";
    font-family: 'Courier New', monospace;
}
.titulofeed{
    font-size:xx-large;
    text-align: center;
    align-items: center;
    margin-top: 5vh;
    color:#E4C59E;
    border: #E4C59E;
    border-width: 2vh;
     border-style: solid; 
    border-color:#E4C59E;
    background-color:#4F6F52;
    width: 100%;
    border-radius: 50px;   
}
.imagemplanta{   
    
    border: #E4C59E;
    border-style: solid;
    border-width: 2vh;
    border-radius: 50px;
    margin-left: 5vh;


}
.paragrafoimg{
    font-size:xx-large; 
    margin-top: 5vh;
    color:#E4C59E;
    border: #E4C59E;
    border-width: 2vh;
     border-style: solid; 
    border-color:#E4C59E;
    background-color:#4F6F52;
    width: 50%;
    border-radius: 50px;
    margin-left: 10vh;
}
.container5{
    display: flex;         
    align-items: center;    
}
