@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

a {
    text-decoration: none !important;
    color: #FFD09B !important;
}

a:hover{
    color: #fffae1 !important;
}

.img-logo-rodape{
    height: 20vh;
    width: 20vh;
    background-color: #FFD09B;
    border: 3px, solid, #322C2B;
    border-radius: 200px;
}

footer {
    height: auto;
    background-color: #1A3636;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    font-family: 'Inter', sans-serif;
    padding: 0;
    padding-bottom: 20px;
    color: #FFD09B;
    position: absolute;
    padding-top: 30px;
}

#rodape2{
    height: 30px;
    display: grid;
    justify-content: center;
    background-color: #677D6A;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0;  
    bottom: 0%;
    color: #D6BD98;
    position: fixed;
}

#coluna4{
    padding: 0% !important;
    padding-right: 15%;
    margin-right: 0;
    list-style: none;
    text-decoration: none;
}
#coluna1{
    padding: 0 0 10px 15%;
    
}
#coluna2{
    margin-left: 60px;
}
#coluna3{
    list-style: none;
    text-decoration: none;
}
#a{
    color: #677D6A;
    text-decoration: none;
}
.botao{
    background-color: #677D6A;
}